<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.css"/>
    <style type="text/css">
        body {
            padding-top: 52px;
        }

        .media a > img {
            width: 120px;

        }

        #left_menu > li {
            width: 100%;
        }

        .hot_articles .list-group {
            box-shadow: 0 0 0;
        }

        .hot_articles .list-group-item {
            border: 0;
            padding-left: 0;
        }

        footer {
            padding: 15px;
            background: #333;
            text-align: center;
            color: #fff;
        }

        footer nav {
            margin: auto;
            width: 300px;
        }

    </style>
    <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <!-- 手机屏幕显示 -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navmenu">
            <span class="sr-only">展开导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
        <a href="" class="navbar-brand">推荐影院</a>
    </div>
    <div class="collapse navbar-collapse" id="navmenu">
        <!-- 必须设置 navbar-nav-->
        <ul class="nav navbar-nav">
            <li class="active"><a href="">首页</a></li>
            <!-- 必须设置dropdown -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    好看视频
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">日本影院</a></li>
                    <li><a href="">欧美影院</a></li>
                    <li><a href="">中国影院</a></li>
                </ul>
            </li>
            <li><a href="">爆米花</a></li>
            <li><a href="">观后感</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a href="">登录</a></li>
        </ul>
    </div>
</nav>
<!-- 面包屑导航 -->
<ul class="breadcrumb">
    <li><a href="">推荐电影</a></li>
    <li><a href="">经典影院</a></li>
    <li><a href="">剧情片</a></li>
    <li class="active">疯狂夏日</li>
</ul>
<!-- 分页导航 -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <ul class="nav nav-pills  " id="left_menu">
                <li class="active"><a href="">日本影院</a></li>
                <li><a href="#" data-toggle="dropdown">喜剧系列</a></li>
                <li><a href="">恐怖系列</a></li>
                <li><a href="">战争系列</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- 媒体列表 -->
            <ul class="media-list">
                {% for movies in movies_list %}
                <li class="media">
                    <a href="" class="pull-left">
                        <img src="{{ movies.m_img }}" class="media-object">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ movies.m_title }}</h4>
                        <div class="media">
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
            <!--  -->
            <ul class="pagination">
                <li><a href="">前一页</a></li>
                <li class="disabled "><a href="#">1</a></li>
                <li class="active"><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">后一页</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="hot_articles">
                <h5>热门电影</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        桃花源记
                        <span class="badge">100000</span>
                    </li>
                    <li class="list-group-item">
                        血战硫磺岛
                        <span class="badge">100000</span>
                    </li>
                    <li class="list-group-item">
                        <h6 class="list-group-item-heading">金刚</h6>
                        <p class="list-group-item-text">
                            在一个小岛上，生活着一群金刚
                        </p>
                        <span class="badge">100000</span>
                    </li>
                </ul>
            </div>
            <div class="like_articles">
                <h5>猜你喜欢</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        桃花源记
                        <span class="badge">100000</span>
                    </li>
                    <li class="list-group-item">
                        血战硫磺岛
                        <span class="badge">100000</span>
                    </li>
                    <li class="list-group-item">
                        <h6 class="list-group-item-heading">金刚</h6>
                        <p class="list-group-item-text">
                            在一个小岛上，生活着一群金刚
                        </p>
                        <span class="badge">100000</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                网易微专业Python全栈课程&copy;2019版权所有
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav nav-pills   ">
            <li><a href="">关于网易</a></li>
            <li><a href="">网易微专业</a></li>
            <li><a href="">关于作者</a></li>
        </ul>
    </nav>
</footer>
<script>
    $(
        $.get("/api/movies/new", function (data) {
            str = ""
            for (i in data) {
                str += '<li class="list-group-item">'
                    + data[i].m_title
                    + '<span class="badge"></span>'
                    + '</li>'
            }
            $('.hot_articles>.list-group').html(str)
        })
    )

    $(
        $.get("/api/movies/like", function (data) {
            str = ""
            for (i in data) {
                str += '<li class="list-group-item">'
                    + data[i].m_title
                    + '<span class="badge"></span>'
                    + '</li>'
            }
            $('.like_articles>.list-group').html(str)
        })
    )
</script>

<script type="text/javascript" src="static/js/bootstrap.js"></script>
</body>
</html>
